<h1>Listing recipes</h1>
<div id="recipes_container">
  <% @recipes.each do |recipe| %>
    <div class="recipes_background">
      <div class="recipes_image">
        <%= image_tag recipe.image.url(:thumb) %>
      </div>
      <div class="recipes_text">
        <%= link_to recipe.name, edit_admin_recipe_path(recipe) %><br />
        <%= recipe.description %>
      </div>
    </div>
  <% end %>
</div>
