<span>Procurar:</span>
<%= form_tag recipe_search_path, method: :get do %>
	<%= text_field_tag(:query, params[:query], id: 'search_field', size: 22) %>
	<%= submit_tag 'Search', name: nil %>
<% end %>