<div id="recipes_display">
	<h1>Busca de receitas com "<%= %>"</h1>
	<p>Veja a lista de todas as receitas:</p>
	<% @recipes.each do |recipe| %>
		<div class="recipes_background">
			<div class="recipes_image">
				<%= image_tag recipe.image.url(:thumb) %>
			</div>
			<div class="recipes_text">
				<%= link_to recipe.name, category_recipe_path(recipe) %><br />
				<%= recipe.description %>
			</div>
		</div>
	<% end %>
</div>