<div id="recipes_display">
	<h1>Busca de receitas por "<%= params[:query] %>"</h1>

	<% if params[:query].present? %>
		<p>Veja a lista de todas as receitas:</p>
		<% @recipes.each do |recipe| %>
			<div class="recipes_background">
				<div class="recipes_image">
					<%= image_tag recipe.image.url(:thumb) %>
				</div>
				<div class="recipes_text">
					<%= link_to recipe.name, recipe_path(recipe.category, recipe) %><br />
					<%= recipe.description %>
				</div>
			</div>
		<% end %>
	<% else %>
		<p>Digite alguma coisa!</p>
	<% end %>
</div>