<div id="recipes_display">
	<h1><%= @recipe.name %></h1>
	<div id="display_image">
		<%= image_tag @recipe.image.url(:small) %>
	</div>
	<p><strong>Ingredientes:</strong></p>
	<%= @recipe.ingredients %><br />
	<p><strong>Modo de Preparo:</strong></p>
	<%= @recipe.how_to %><br />
</div>
