#sampler
  background-image: url(/assets/sampler2.png)
  width: 600px
  height: 300px
  margin: 0pt auto
  .recipe_sampler_name_holder
    float: left
    height: 276px
    margin: 12px 10px 0 14px
    width: 180px
    .recipe_sampler_name
      float: left
      height: 80px
      margin-bottom: 12px
      width: 180px
  .recipe_sampler_image
    float: right
    height: 260px
    margin: 14px 15px 0 0
    width: 380px
