/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@charset "utf-8";
/* CSS Document */

body
{
	background-image:url(../images/background.gif);
	background-repeat:repeat;
}
#container
{
	width:1000px;
	margin:10px auto;
}
/* Header */
#topbar
{
	background-image:url(/app/assets/images/topbackground.png);
	width:1000px;
	height:210px;
	margin:0px auto;
}
#search_bar
{
	margin-top:20px;
	margin-left:280px;
	float:left;
	width:250px;
	height:60px;
}
#login_bar
{
	margin-top:20px;
	margin-left:20px;
	float:left;
	width:400px;
	height:60px;
}
#menu
{
	margin-top:10px;
	margin-left:270px;
	float:left;
}
#menu li
{
	background-image:url(app/assets/images/button_large.gif);
	background-repeat:no-repeat;
	float:left;
	height:20px;
	width:150px;
	display:inline;
	text-align:center;
	margin: 0 2px 3px 2px;
}
#menu a
{
	font-family:"Times New Roman", Times, serif;
	font-size:16px;
	color:#000000;
	text-decoration:none;
}
#advertising
{
	width: 728px;
	height: 90px;
	margin: 10pt auto;
	background-color:yellow;
}
/* Main Menu */
#sampler
{
	background-image: url(../images/sampler2.png);
	width: 600px;
	height: 300px;
	margin: 0pt auto;
}
/* Recipes Menu */
#recipes_display
{
	background-image:url(../images/recipes_display.gif);
	width:600px;
	margin:10px auto;
	padding-left:10px;
	padding-bottom: 30px;
}
#recipes_display h1
{
	font-size:24px;
}
#recipes_background
{
	background-image:url(../images/recipes_background.gif);
	width:582px;
	height:82px;
	margin:5px 0px;
}
#recipes_image
{
	width:96px;
	height:66px;
	margin:8px 8px;
	float: left;
}
#recipes_text
{
	margin:6px 0px 0px 0px;
	width:400px;
	height:50px;
	float:left;
}
#recipes_ratings
{
	margin:0px 0px;
	width: 85px;
	height: 16px;
	float:left;
}
#pagebar
{
	width:600px;
	height:30px;
}
#pagebar a
{
	background-image:url(../images/pages_button.gif);
	width:25px;
	height:21px;
	text-align:center;
	float:left;
	display:inline;
	margin:0px 2px;
	padding-top:4px;
	text-decoration:none;
}
/* Recipe Display */
#display_image
{
	width:190px;
	height:130px;
	margin-right:20px;
	float: right;
}
/* Sign Up Screen */
#formulario_cadastro
{
	background-image:url(../images/cadastro_formulario.gif);
	width: 560px;
	height: 450px;
	float: left;
	padding: 0px 20px;
	text-align: center;
}
#formulario_cadastro h2
{
	color: red;
	text-decoration: underline;
}
#formulario_cadastro p
{
	font-size: 12px;
	font-weight: bolder;
}
#info_cadastro
{
	background-image:url(../images/cadastro_info.gif);
	width: 260px;
	height: 450px;
	float: right;
	padding: 0px 10px;
}
#info_cadastro h3
{
	text-align: justify;
}
#info_cadastro ul li
{
	list-style-type: square;
	font-size: 14px;
	line-height: 40px;
}